@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes zoomSlow {
0% { transform: scale(1); }
100% { transform: scale(1.1); }
}


.animate-zoomSlow {
animation: zoomSlow 10s ease-in-out infinite alternate;
}